@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --main-font: 'Quicksand', sans-serif;
    --text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

body{

    background-image: url('/img/BackgroundMagico6_upscaled_75.png');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: space-between;
}

iframe{
    border: 1px solid lightgray; 
    width: 1024px;
    height: 768px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
    background-color: rgba(0, 0, 0, 0.34);
    color:white;
    
}

header div{
    padding-left: 10px;
}

header h1{
    font-size: 25px;
    font-family: var(--main-font);
    font-weight: bolder;
    padding-left: 5px;
    text-shadow: var(--text-shadow)
}

.logo-site{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

nav, nav ol{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    font-family: var(--main-font);
    font-weight: bold;
}

nav li{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    text-shadow: var(--text-shadow);
}

nav li:hover{
    background-color: white;
    border-radius: 20px;
}

label{
    font-weight: 700;
}

input{
    min-width: 300px;
    padding: 3px 3px 3px 4px;
    font-size: 16px;
    font-weight: bolder;
}

textarea{
    min-width: 400px; 
    min-height: 300px;
    padding: 10px;
    font-size: 16px;
    font-weight: bolder;  
}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 85);
    color: white;
}

#footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#footer nav div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer nav div a{
    padding: 8px;
    color: white;
}

/*-- Pagina: histotrias contadas --*/

.body-background {
    background-image: url('/img/redwoodbackground1.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
    background-attachment: fixed;
    display: flex;
    justify-content: start;
}

.historias-main{
    display: flex;
    align-items:start;
    justify-content: space-between;
}

.historias-main aside{
    display: block;
    font-family: var(--main-font);
    text-align: center;
    padding: 10px;
}

.historias-main aside h3{
    padding: 5px;
}

.historias-main aside div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.aside-img{
    padding: 10px 10px 5px 10px;
    height: 100%;
}

#livro-aberto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.livro-1 img, .livro-2 img, .livro-3 img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 10px;

}

/*-- fim Pagina: histotrias contadas --*/

/*-- Pagina: fale conosco --*/
#faleconosco{
    display: flex;
    justify-content: space-around;
}

#faleconosco div:nth-child(1){
    width: 40%;
}

.perguntas-frequentes{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 50px;
    color:white;
    background-color: rgb(4, 55, 74);
    border-radius: 20px;
    text-align: justify;
}

.form-perguntas{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
    padding: 30px 30px 30px 50px;
    color:white;
    background-color: rgb(4, 55, 74);
    border-radius: 20px;
    text-align: justify;
}

.form-perguntas h2, .perguntas-frequentes h2 {
    padding: 10px 0px 20px 0px;
}

.perguntas-frequentes li{
    padding: 5px 0px 5px 0px;
}

.perguntas-frequentes li p{
    padding: 5px 0px 0px 0px;
}

/*--fim Pagina: fale conosco --*/

/*-- Pagina: Sobre nos --*/

#main-quemsomos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
}

#main-quemsomos section{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 10px;
    background-color: rgb(4, 55, 74);
    color: white;
    border-radius: 10px;
}

#main-quemsomos section p{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 5px;
}

#main-quemsomos section:nth-child(3){
    display: flex;
    flex-direction: column;
}

.logo-quemsomos {
    display: block;
    margin: auto;
    width: 12%;
    padding: 40px;
}

/*-- Fim Pagina: Sobre nos --*/

/*-- Pagina: inicio --*/

#inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.introducao{
    display: block;
    margin: auto;
    width: 30%;
    text-align: justify;
    background-color: rgb(4, 55, 74);
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.historias-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px;
}

.historias-principal section h2{
    display: block;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.historias-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.historias-filho{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.historias-jogos{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.historias-jogos p{
    padding: 5px;
}

/*-- Fim Pagina: Inicio --*/

/*-- Pagina: cadastro/login --*/

.main-cadastro{
    margin: auto;
}

.form-login{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px 30px 30px 50px;
    color:black;
    background-color: white;
    border-radius: 20px;
    text-align: justify;
    border: 4px solid black;

}

.form-cadastro{
    display: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 30px 30px 30px 50px;
    color:black;
    background-color: white;
    border-radius: 20px;
    text-align: justify;
    border: 4px solid black;
}

.form-login h2, .form-cadastro h2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px ;
}

.form-login div, .form-cadastro div{
    padding: 10px
}

.login-tab{
    background-color: rgb(4, 55, 74);
    size: 10px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white 
}

.cadastro-tab{
    background-color: white;
    size: 10px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.form-options{
    display: flex;
    justify-content: center;
    align-content: center;
}

.button-submit{
    margin: auto;
    margin-top: 20px;
}

.input-correct{
    background-color: rgb(201, 253, 201);
    border-color: rgb(57, 129, 57);
}

.input-incorrect{
    background-color: rgb(253, 209, 209);
    border-color: rgb(255, 72, 72);
}

.passwordVerify{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.password-style{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.password-style img{
    margin-right: 5px;
    height: 15px;
} 